body {
    margin: 0;
    overflow-x: hidden;
    font-family: "proxima-nova", sans-serif;
    /* background-image: url(Photos/colored_graphyDark_new_palette.png); */
    background-color: #1e1c32;
  }
  
  li {
    list-style-type:none;
  }
  
  .auto-type-header {
    display:flex;
    min-width: 360px; /* Adjust height to fit "Hello, I'm Dre." */
  }
  
  .navbar {
    background-color: #333;
    display: flex;
    justify-content: center;
    padding: 10px;
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #c6baac;
    text-align: center;
  }
  
  .navbar-menu .active {
    text-decoration: underline;
    color: #FFD700;
  }
  
  .navbar-menu {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .navbar-menu li {
    display: inline;
    margin: 0 15px;
  }
  
  .navbar-menu a {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    color: #c6baac;
    text-decoration: none;
  }
  
  .navbar-menu a:hover {
    text-decoration: underline;
  }
  
  .fade-in-text {
    color: #c6baac;
    font-size: medium;
    text-align: center;
    opacity: 0;
  }
  
  .playfair-display-italic {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-size: 28px;
    font-weight: 400;
    font-style: italic;
    text-align: right;
  }
  
  .playfair-display-normal {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    text-align: center;
  }
  .playfair-display-normal-smaller {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    text-align: center;
  }
  
  .box1.playfair-display-italic {
    background-color: #c6baac;
    color: #c6baac;
    opacity: 0.5;
  }
  
  div.transbox {
    display: inline-block;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    /* background: rgba(255, 0, 0, 0.336); 
    border: 1px solid black; */
  }
  
  div.transbox p {
    color: #c6baac;
  }
  
  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(37, 37, 37);
    color: #c6baac;
    text-align: center;
    text-decoration: none;
  }
  
  footer p.saying {
    font-family: "Playfair Display", serif;
    color: rgb(80, 80, 80);
  }
  
  footer p.saying:hover {
    color: rgb(80, 80, 80);
  }
  
  @media (max-width: 800px) {
    footer p.saying {
      display: none;
    }
  }
  
  .typed-cursor {
    animation: none;
  }