body {
    margin: 0;
    overflow-x:hidden;
    font-family: "proxima-nova", sans-serif;
    background-image: url(Photos/graphy.png);
  }

  .navbar {
    background-color: #333;
    display: flex;
    justify-content: center;
    padding: 10px;
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: rgb(255, 255, 255);
    text-align: center;
  }
  
  .navbar-menu {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .navbar-menu li {
    display: inline;
    margin: 0 15px;
  }
  
  .navbar-menu a {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    color: white;
    text-decoration: none;
  }
  
  .navbar-menu a:hover {
    text-decoration: underline;
  }

.photo-wall {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    padding: 10px;
    grid-auto-rows: 1fr;
}

.photo-item {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
}

.photo-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.photo-item img:hover {
    transform: scale(1.05);
}