body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url(Photos/graphy.png);
}

.navbar {
    background-color: #333;
    display: flex;
    justify-content: center;
    padding: 10px;
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    color: white;
    text-align: center;
}

.navbar-menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar-menu li {
    display: inline;
    margin: 0 15px;
}

.navbar-menu a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.navbar-menu a:hover {
    text-decoration: underline;
}

.photo-wall {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 10px;
    padding: 10px;
    grid-auto-rows: 1fr;
}

.photo-item {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
}

.photo-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}