.navButtons {
  display: flex;
  text-decoration: none;
}

/* a[href$=".html"] {
  color: #B00020;
} */

.doors .navButtons {
color: #B00020;
}

.mainText {
  text-align: center;
}

.mainText .doors {
 display:flex; 
 align-items: center; 
 justify-content: center;
}

.backButton {
  color: black;
}

ul {
  list-style-type: none;
}